<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "module2/staffindex.html" %}
{% block body %}
<body>
<body>
<form id="form1" name="form1" method="post" action="/add_student#services">
  <table width="440" border="1" id="customers">
    <tr>
      <th width="45">reg number</th>
      <th width="36">name </th>
      <th width="40">course</th>
      <th width="53">semester</th>
      <th width="41">gender</th>
      <th width="37">phone</th>
      <th width="42">parent phn </th>
      <th width="44">email</th>
      <th width="44"></th>
    </tr>
     {% for i in val %}
    <tr>
      <td>{{i[2]}}</td>
      <td>{{i[3]}} {{i[4]}}</td>
      <td>{{i[11]}}</td>
      <td>{{i[6]}}</td>
      <td>{{i[7]}}</td>
      <td>{{i[8]}}</td>
      <td>{{i[9]}}</td>
      <td>{{i[10]}}</td>
      <td width="44"><a href="deletestudent?id={{i[1]}}">delete</a></td>

    </tr>
    {% endfor %}
    <tr>
      <td colspan="9"><label>
        <input type="submit" name="Submit" value="add" />
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
