<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "module2/staffindex.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="topiccovered">
  <table width="200" border="1" id="customers">
    <tr>
      <th>subject</th>
      <td><label>
        <select name="select">
          {% for i in val %}
          <option value='{{i[0]}}'>{{i[3]}}</option>
          {% endfor %}
        </select>

      </label></td>
    </tr>
    <tr>
      <td>modules</td>
      <td>topic covered(if completed )</td>
    </tr>
    {%for i in range(1,7)%}
    <tr>
      <td>&nbsp;{{i}}</td>
      <td><label>
        <input type="checkbox" name="checkbox" value="{{i}}"  />
      </label></td>
    </tr>
    {%endfor%}
    <tr>
      <td colspan="2"><label>
        <input name="fini" type="submit" id="fini" value="finish" />
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
