<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "module2/staffindex.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><a href="add_and_manage_student">ADD AND MANAGE STUDENT</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="add_class_work">ADD CLASS WORK</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="add_note">ADD NOTE</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="doubt_clearence">DOUBT CLEARENCNCE</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="mark_attendence">ATTENDENCE</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="mark_topic_covered">TOPIC COVERED</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="view_allocated_subject">ALLOCATED SUBJECT</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="view_student_upload">STUDENT UPLOAD</a></td>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
{% endblock %}
<!--</html>-->
