<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "adminindex.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="updateStaff#services">
  <table width="200" border="1" id="customers">
    <tr>
      <th>first name </th>
      <td><label>
        <input type="text" name="textfield"  value="{{val[2]}}" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th>last name </th>
      <td><label>
        <input type="text" name="textfield2" value="{{val[3]}}" required pattern="[A-Z a-z.]{1,25}"/>
      </label></td>
    </tr>
    <tr>
      <th>gender</th>
      <td><label>
        <input name="radiobutton" type="radio" value="male" {% if val[4]=='male' %}checked{% endif %} />
      male
      <input name="radiobutton" type="radio" value="female"  {% if val[4]=='female' %}checked{% endif %}/>
      female</label></td>
    </tr>
    <tr>
      <th>phone number </th>
      <td><label>
        <input type="text" name="textfield3" value="{{val[5]}}" required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <th height="45">email</th>
      <td><label>
        <input type="text" name="textfield4" value="{{val[6]}}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </label></td>
    </tr>

    <tr>
      <td height="45" colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="register" class="btn btn-outline-primary" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
