<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<!--{% extends "adminindex.html" %}-->
<!--{% block body %}-->
<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><a href="add_and_manage_staff">add and manage staff</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="add_and_manage_course">add and manage course</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="manage_subject">add and manage subject</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="assign_subject_staff">assign subject to staff</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="#">time table generation</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="staff_attendance">staff attendance</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="feedback">view feedback</a></td>-->
    <!--</tr>-->
       <!--<tr>-->
      <!--<td><a href="/">Logout</a></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
<!--{% endblock %}-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
