<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "index.html" %}
{% block body %}

<body>
<style>
  .btn-success {
    color: #fff;
    background-color: #7cc576;
    border-color: #7cc576;
    754 */4: ;

}
.text{border-style: solid;
    border-color: #7cc576;
    border-radius: 7px;
    }
    .table{

</style>
<form id="form1" name="form1" method="post" action="/logincode">

<table width="220" border="1" id="customers" class="table">
  <tr>
    <th width="60">username</th>
    <td width="144">
      <label>
        <input type="text" class="text" name="textfield" required />
        </label>
        </td>
  </tr>
  <tr>
    <th height="30">Password</th>
    <td>
      <label>
      <input type="password"  class="text" name="textfield2" required />
        </label>
    </td>
  </tr>
  <tr>
    <td colspan="2">
        <div align="center">
          <input type="submit" name="Submit" value="login" class="btn btn-success"/>
          
          </div></td>
  </tr>
</table>

</form>
</body>
{% endblock %}
<!--</html>-->
